body{
    background: #89B789;
}

.MenuSuperior{
    margin-left: 20px;
    margin-top: 10px;
}

.voltar{
    color: #fff;
    border: none;
    background-color: #89B789;
    height: 40px;
}

.CaixaProdutos {
    margin: 80px;
    margin-top: 20px;
    height: 500px;
    background: #5f805f;
    border-radius: 50px;
    padding: 20px; 
    overflow: auto;
}

.CaixaProdutos li {
    list-style-type: none;
}

.Produtos {
    background: #89B789;
    border-radius: 30px;
    margin: 15px;
    padding: 15px;
}

.Produtos p{
    text-align: center;
    color: #fff;
}

.FinalizarCompra {
    text-align: center;
    margin-top: 20px;
    border-radius: 40px;
    padding: 25px;
}

.btn-finalizar {
    background-color: #5f805f;
    color: #fff;
    font-size: 20px;
    padding: 30px 50px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-finalizar:hover {
    background-color: #a6cfa6;
}





