@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import '@fortawesome/fontawesome-free/css/all.min.css';

body{
    background: #B3D0B3;
    font-family: "Josefin Sans", serif;
    color: white;
    margin: 0;

}


.MenuSuperior{
   background-color: #89B789;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    margin: 20px;
    margin-top: 40px;
}

.MenuSuperior input{
    font-size: 20px;
}

.MenuSuperior img{
    padding-right: 150px;
}

.BotaoPesquisa button{
    background: transparent;
    border: none;
    width: 30px;
    color: white;
    font-size: 25px;
    padding-right: 40px;  
    padding-left: 25px; 
}

.MenuLateral button{
    background: transparent;
    border: none;
    color: white;
    font-size: 30px;
    padding-right: 50px;
}


.Categorias button{
    background-color: #89B789;
    border: none;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 40px;
    margin-left: 40px;
}

.Categorias button:hover{
    background: #5F805F;
    transition: 0.3s;
}

.Cardapio{
    padding: 0px;
    border-radius: 40px;
    margin: 20px;
    max-height: 600px;
   
    overflow: auto;
    display: flex;
    gap: 20px;
    flex-wrap: 20px;
    border: 2px solid;
}

.corCardapio{
    background-color: #89B789;
    border-radius: 40px;
    margin: 20px;
    
    
}

.Linha1{
    background: green;
    margin: 10px;
    border-radius: 10px;
    height:200px; width: 200px;
    margin-left: 30px;
}