body{
    background: #89B789;
    margin-bottom: 150%;
    font-family: "Josefin Sans", serif;
    
    
}



.prioridades{
    
    border: 2px wheat;
    padding: 30px;
    background-color: #89B789;
    text-align: center;
    display: flex;
    margin: 10px;
    
}

.prioridade{
    margin: 10px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    overflow: auto;
    box-shadow:  2px 5px rgba(0, 0, 0, 0.2);
    gap: 20px;
   
   
    
    
}

ul{
    list-style: none;
   
}




.cabecalho{
    display: flex;
    justify-content: space-between;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

    button{
        padding: 8px;
        border-bottom-style:hidden;
        color: rgb(255, 255, 255);
        background-color: #a0cfa0;
        
    }

    h1{
        color: #a0cfa0;
        box-sizing: border-box;
        
        
    }